body{
    background: whitesmoke;
    padding: 15px;
}
.typeahead{
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
            border-radius: 8px;
    outline: none;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}
#myChart{
    border: 1px solid gainsboro;
    background: white;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    width: 1000px !important;
    height: 500px !important;

}
.container{
    position: relative;
    margin: auto;
    height: 400px;
    width: 1000px;
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
}
.center {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.process {
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}